.task {
    width: 100%;
    background: #f2f2f2;
    border: 2px solid #606060;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: relative; 

  }

  .lastModified {
    position: absolute;
    top: 85%;
    right: 15px; 
    transform: translateY(-50%);
    font-size: 12px !important;
    color: #808080 !important; 
  }
  
  .task p {
    font-size: 14px;
    line-height: 19px;
    color: #a020b9;
    margin-right: auto;
  }
  
  p.textCompleted {
    color: #808080;
    text-decoration: line-through;
  }
  
  .checkContainer {
    width: 18px;
    height: 18px;
    background: none;
    border: none;
  }
  
  .checkContainer div {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 2px solid #a91d94;
    ;
  }
  
  .checkContainer svg {
    width: 100%;
    height: 100%;
    color: #5E1B89;
  }
  
  .deleteButton {
    background: none;
    border: none;
    color: #606060;
  }

  .editButton {
    background: none;
    border: none;
    color: #606060;
  }

  .editInput {
    width: 100%;
    height: 30px; 
    border-radius: 8px;
    margin-bottom: 5px; 
    margin-right: 10px;
    text-align: left; 
  }

  .saveButton {
    margin-right: 10px; 
    padding: 5px 12px; 
    border-radius: 8px;
    font-size: 12.5px; 
    background-color: purple;
    color: #f2f2f2; 
  }

  .cancelButton {
      margin-right: 10px; 
      padding: 5px 12px; 
      border-radius: 8px;
      font-size: 12.5px; 
      background-color: #606060; 
      color: #f2f2f2; 
  }